<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
{#    <meta name="description" content=""/>#}
{#    <meta name="keyword" content=""/>#}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="{{ asset('vue/vue.css') }}">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon.png" sizes="192x192">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <title>ConnecTA</title>
    <style>
        html, body, #app {
            height: calc(100% - 20px);
        }
    </style>
</head>
<body>
<div id="app">
    Loading...
</div>
<script src="{{ asset('vue/vue.js') }}"></script>
<script src="{{ asset('vue/runtime.js') }}"></script>
</body>
</html>
